<!-- index.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="pagetitle">Hjemmeside</div>
    <div class="title">Velkommen til Shokjøp!</div>

    <!-- Product Listings -->
    <div class="productinfo">
        <div class="productitem">
            <a href="xboxkontroller.html"><img id="xboxcontroller" src="/static/img/xboxkontroller.jpg" alt="Xbox controller"></a>
            <p>Xbox Series X Kontroller</p>
            <p>Kr. 799</p>
            <div class="cartbutton">
                <form action="/add_to_cart" method="post">
                    <input type="hidden" name="product_id" value="1">
                    <input type="hidden" name="product_name" value="Xbox Series X Kontroller">
                    <input type="hidden" name="product_price" value="799">
                    <button type="submit">add to cart</button>
                </form>
            </div>
            <div class="Information">
                <a href="xboxkontroller.html">Mer informasjon</a>
            </div>
        </div>
        <div class="productitem">
            <a href="ps5kontroller.html"><img id="ps5controller" src="/static/img/ps5kontroller.jpg" alt="ps5 controller"></a>
            <p>Playstation 5 Kontroller</p>
            <p>Kr. 799</p>
            <div class="cartbutton">
                 <form action="/add_to_cart" method="post">
                    <input type="hidden" name="product_id" value="2">
                    <input type="hidden" name="product_name" value="Playstation 5 Kontroller">
                    <input type="hidden" name="product_price" value="799">
                    <button type="submit">add to cart</button>
                </form> 
            </div>
            <div class="Information">
                <a href="ps5kontroller.html">Mer informasjon</a>
            </div>
        </div>
        <div class="productitem">
            <a href="ps4kontroller.html"><img id="ps4controller" src="/static/img/ps4kontroller.jpg" alt="ps4 controller"></a>
            <p>Playstation 4 Controller</p>
            <p>Kr. 499</p>
            <div class="cartbutton">
                <form action="/add_to_cart" method="post">
                    <input type="hidden" name="product_id" value="3">
                    <input type="hidden" name="product_name" value="Playstation 4 controller">
                    <input type="hidden" name="product_price" value="499">
                    <button type="submit">add to cart</button>
                </form>
            </div>
            <div class="Information">
                <a href="xboxkontroller.html">Mer informasjon</a>
            </div>
        </div>

        <div class="productitem">
            <a href="60keyboard.html"><img id="blackkeyboard" src="/static/img/60keyboard.jpg" alt="60 Keyboard"></a>
            <p>Aeon 60 Prosent Keyboard</p>
            <p>Kr. 599</p>
            <div class="cartbutton">
                <form action="/add_to_cart" method="post">
                    <input type="hidden" name="product_id" value="4">
                    <input type="hidden" name="product_name" value="Aeon 60 Percent Keyboard">
                    <input type="hidden" name="product_price" value="599">
                    <button type="submit">add to cart</button>
                </form>
            </div>
            <div class="Information">
                <a href="razerkeyboard.html">Mer informasjon</a>
            </div>
        </div>
        <div class="productitem">
            <a href="razerkeyboard.html"><img id="razerkeyboard" src="/static/img/razerkeyboard.jpg" alt="White Razer Keyboard"></a>
            <p>Hvit Razer Keyboard</p>
            <p>Kr. 799</p>
            <div class="cartbutton">
                <form action="/add_to_cart" method="post">
                    <input type="hidden" name="product_id" value="5">
                    <input type="hidden" name="product_name" value="Hvit Razer Keyboard">
                    <input type="hidden" name="product_price" value="799">
                    <button type="submit">add to cart</button>
                </form>
            </div>
            <div class="Information">
                <a href="razerkeyboard.html">Mer informasjon</a>
            </div>
        </div>
        <div class="productitem">
            <a href="tklkeyboard.html"><img id="tklkeyboard" src="/static/img/gamingkeyboard.jpg" alt="TKL Keyboard"></a>
            <p>Gaming TKL Keyboard</p>
            <p>Kr. 699</p>
            <div class="cartbutton">
                <form action="/add_to_cart" method="post">
                    <input type="hidden" name="product_id" value="6">
                    <input type="hidden" name="product_name" value="Gaming TKL Keyboard">
                    <input type="hidden" name="product_price" value="699">
                    <button type="submit">add to cart</button>
                </form>
            </div>
            <div class="Information">
                <a href="tklkeyboard.html">Mer informasjon</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
