<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Purchase History</title>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="purchase-history-container">
        <h1 class="text-center my-4">Purchase History</h1>

        {% if purchases %}
            <div class="purchase-history-table">
                {% for purchase in purchases %}
                    <div class="purchase-item">
                        <div class="purchase-item-body">
                            <h5 class="purchase-item-date">Date: {{ purchase['date'] }}</h5>
                            <ul class="purchase-item-list">
                                {% for item in purchase['items'] %}
                                    <li class="purchase-item-list-item">
                                        <div class="purchase-item-details">
                                            <div class="purchase-item-image">
                                                <img src="{{ item['image'] }}" alt="{{ item['name'] }}" class="img-fluid" style="width: 100px; height: 100px;">
                                            </div>
                                            <div class="purchase-item-info">
                                                <h6 class="purchase-item-name">{{ item['name'] }}</h6>
                                                <p class="purchase-item-price">Price: kr {{ item['price'] }}</p>
                                                <p class="purchase-item-quantity">Quantity: {{ item['quantity'] }}</p>
                                                <p class="purchase-item-total"><strong>Total: kr {{ (item['price']|float * item['quantity'])|round(2) }}</strong></p>
                                            </div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                            <div class="purchase-item-total-amount text-right mt-3">
                                <h5><strong>Purchase Total: kr {{ purchase['total'] }}</strong></h5>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="text-center">You have no purchase history yet.</p>
        {% endif %}
    </div>
</body>

<footer class="footer">
    Shokjøp © 
    <a target="_blank" href="https://github.com/freyzsaycon/Shokjop.git">
        <img src="/static/img/githublogo.png" alt="github logo">
    </a>
</footer>
</html>
