
<div class="navbar">
    <a id="navtext" href="/">Home</a>
    <div class="searchfull">
        <button onclick="showBar()" class="search" type="submit">
            <img id="icons" src="/static/img/search.png" alt="search icon">
        </button>
        <input class="searchbutton" placeholder="Søk..."/>
    </div>
    <a href="/"><img id="logo" src="/static/img/logofornettside.svg" alt="logo"></a>
    <div class="menu">
        <button class="dropmenu"><img id="icons" src="/static/img/menu.png" alt="menu"></button>
        <div class="dropmenubuttons">
            <a href="/Cart">Min handlekurv</a>
            <a href="minkonto.html">Min konto</a>
            <a href="/Orders">Mine bestillinger</a>
        </div>
    </div>
    <a id="navtext" href="kontakt.html">Contact</a>
</div>



