<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PS4 Kontroller</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<!-- Navbar start -->
<body>

    <div class="loading" id="loading">
        <div class="loadinggear" id="loadinggear">
        <img class src="/static/img/gears_spinner.svg" alt="gear spinner">
        </div>
           </div>

           {% include 'navbar.html' %}
<!-- Navbar end -->

<!-- Titles start -->

<div class="pagetitle">
PS4 Kontroller
</div>

<div class="titleproducts">
PS4 Kontroller
</div>
    
<!-- Titles end -->


<body>
  <!-- Product information start -->
<div class="productimageandinfo">
    <img src="/staticimg/ps4kontroller.jpg" alt="PS4 kontroller">
    <p>Ta kontroll over en ny generasjon spilling med en redesignet trådløs Playstation 4 kontroller som gir deg presisjonsspilling. Dette er den mest ergonomiske og intuitive måten å spille på noensinne med en ny styreplate som synliggjør lyslisten ovenfra. Enheten er også tilgjengelig i en rekke farger som passer til stilen din.
        </p>
    </div>    
    
    <div class="productprice">
    <p>Kr. 499</p>
    </div>
    
    <div class="cartproduct">
    <a href="handlekurv.html">Legg til handlekurv</a>
    </div>
    
    <!-- Product information end -->      
</body>

<footer>
    Shokjøp © <a target="_blank" href="https://github.com/freyzsaycon/Shokjop.git"><img src="/static/img/githublogo.png" alt="github logo"></a>
</footer>

<script src="script.js"></script>
</html>